<%= form_for(@book) do |f| %>
<%=render'shared/error_messages',object:f.object%>
<div class="field">
<%=f.text_area:explanation,placeholder:"推荐语"%>
</div>
<%=f.submit"提交",class:"btn btn-primary"%>
<%end%>